* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(51, 51, 51);
}

.section-queues {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.section-queues__queue {
  display: inline-block;
  width: 200px;
  height: 500px;
  margin: 20px 30px;
  border: 2px solid rgba(0, 0, 0, 0.527);
  border-radius: 5px;
  box-shadow: 5px 8px 15px rgba(105, 105, 105, 0.425);
}

.section-queues__queue-done {
  overflow-y: scroll;
}
.section-queues__queue-waiting {
  overflow-y: scroll;
}

p {
  position: relative;
  border: 1px solid rgb(138, 138, 138);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px;
  box-shadow: 2px 3px 5px rgba(105, 105, 105, 0.301);
}

.btn-delete {
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 0px 3px;
  background-color: tomato;
  border-radius: 3px;
}

.task--executing {
  border: 4px solid rgb(0, 173, 58);
  background-color: rgba(172, 255, 47, 0.658);
  animation-direction: alternate;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-name: executing;
}
@keyframes executing {
  0% {
    border-color: rgb(0, 173, 58);
  }
  100% {
    border-color: rgba(0, 173, 58, 0.301);
  }
}

.task--waiting {
  background-color: rgba(255, 99, 71, 0.795);
}

.task--done {
  background-color: rgba(0, 131, 253, 0.582);
}

.task--hide {
  opacity: 1;
  animation: task-hide 300ms linear forwards;
}
@keyframes task-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.task--appear {
  opacity: 0;
  animation: task-appear 300ms linear forwards;
}
@keyframes task-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.task--comming {
  animation: comming 500ms linear forwards, executing 500ms infinite alternate;
  /* animation: executing 500ms infinite alternate; */
}
@keyframes comming {
  0% {
    transform: translate(-130px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes executing {
  0% {
    border-color: rgb(0, 173, 58);
  }
  100% {
    border-color: rgba(0, 173, 58, 0.301);
  }
}
